<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gigih Family Catering App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/orders">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order_details">Order Detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/menus">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categorys">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category_menus">Category Menu</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-3 font-weight-bold">List Orders</h1>
      <div class="table-wrap">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Status</th>
            <th scope="col">Order Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <% @orders.each do |n| %>
            <tr>
              <td><%= link_to n.id, order_path(n) %></td>
              <td><%= link_to n.customer_name, order_path(n) %></td>
              <td><%= link_to n.customer_email, order_path(n) %></td>
              <td><%= link_to n.status, order_path(n) %></td>
              <td><%= link_to n.order_date, order_path(n) %></td>
              <td><%= link_to 'Edit', edit_order_path(n), method: 'get' %></td>
              <td><%= button_to 'Remove', order_path(n), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/orders/new'">Add New Order
      </button>
    </div>
  </div>
</div>